/*!
 * Dashboard
 * Copyright 2015-2018 Martin Bo Kristensen Grønholdt
 */

/* apply a natural box layout model to all elements, but allowing components to change */

html {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: black;
	color: white;
	height: 100vh
}

h1 {
	font-size: 6vh;
}

h3 {
	font-size: 1vh;
	/*display: inline-block;*/
}

.header {
	font-weight: bold;
	font-size: 2.25vh;
	border-width: 0;
	width: 100%;
	height: 3vh;
}

.footer {
	background: #000000;
	font-size: 1.75vh;
	border-width: 0;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 3;
	display: block;
	height: 3vh;
}

.text-center {
	text-align: center;
}

.panel-heading {
	background: #22262B;
	font-weight: bold;
	border: 0.25vh solid silver;
	border-style: none none solid none;
	padding: 0.5vh;
	font-size: 2.60vh;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	text-align: center;
	/*margin-bottom: 0.5vh;*/
	height: 4vh;
}

.panel-body {
	/* display: inline-block; */
	padding: 1vh;
	/* height: 36vh; */
	font-size: 2.60vh;
	/*text-align: center;*/
	font-size: 3.5vh;
}

.text-layer {
	z-index: 3;
	left: 0;
	top: 0;
	position: relative;
}

.graph-layer {
	z-index: 2;
	left: 0;
	top: 0px;
	position: relative;
}

.panel-border {
	border: 0.25vh solid silver;
	border-radius: 1em;
}

.top-row:after {
    content: "";
    clear: both;
    display: block;
}

.bottom-row:after {
    content: "";
    clear: both;
    display: block;
}

/* .panel-row {
	display: flex;
	flex-direction: row;
} */

.high {
	font-weight: bold;
	/*margin: 0.2em;*/
	display: inline-block;
	/*font-family: sans-serif;*/
}

.error {
	color: red;
}

.fleft {
	float: left;
}

.ph1 {
	height: 15.5vh
}

.ph2 {
	height: 36.5vh
}

/* For mobile phones: */

/*[class*="col-"] {
	width: 96%;
	margin: 2%;
}*/

/* For screen with a width of 800 or more. */

/*@media only screen and (min-width: 800px) {*/
	.col-1 {
		width: calc(100% / 12 - 0.050);
		margin: 0.25%;
	}
	.col-2 {
		width: calc((100% / 12 * 2) -  0.050);
		margin: 0.25%;
	}
	.col-3 {
		width: calc((100% / 12 * 3) -  0.50%);
		margin: 0.25%;
	}
	.col-4 {
		width: calc((100% / 12 * 4) -  0.050);
		margin: 0.25%;
	}
	.col-5 {
		width: calc(100% / 12 * 5 -  0.050);
		margin: 0.25%;
	}
	.col-6 {
		width: calc(100% / 12 * 6 -  0.050);
		margin: 0.25%;
	}
	.col-7 {
		width: calc(100% / 12 * 7 -  0.050);
		margin: 0.25%;
	}
	.col-8 {
		width: calc(100% / 12 * 8 -  0.050);
		margin: 0.25%;
	}
	.col-9 {
		width: calc((100% / 12 * 9) -  0.50%);
		margin: 0.25%;
	}
	.col-10 {
		width: calc((100% / 12 * 10) -  0.050);
		margin: 0.25%;
	}
	.col-11 {
		width: calc((100% / 12 * 11) -  0.050);
		margin: 0.25%;
	}
	.col-12 {
		width: calc(100% -  0.050);
		margin: 0.25%;
	}
/*}*/

a {
	color: white;
}